body
{
    background-color: #393f4d ; 
    /* background-image: url("background-img.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
}
.Cat1
{
    list-style: none;
    position: fixed;
    background-color: #1d1e22 ;
    /* background-color: black; */
    height: 80%;
    width: 15%;

    top: 0%;
    bottom: 0%;
    right: 85%;
    left: 0;

    text-align: center;
    font-size: larger;

    border-left: #83a2af 5px solid;
    border-top: #83a2af 5px solid;
}
.Cat1li
{
    position: fixed;
    top: 35%;
    bottom: 0%;
    right: 85%;
    left: 0;
}

.Cat2
{
    position: fixed;
    /* background-color: #9a9a9f; */
    background-image: url("background-img.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    border: #83a2af solid 5px;
    
    /* margin: 2%; */
    width: 85%;

    top: 0;
    bottom: 0;
    right: 67%;
    left: 15%;    
    overflow-y: scroll;
    /* overflow-x: scroll; */

}

#menu
{
    /* padding: 10%;
    margin: 10%; */
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    color: cornsilk;

}

hr
{
    margin-left: 30%;
    margin-right: 30%;
    margin-top:15%;
    margin-bottom: 15%;
}

li:hover
{
    background-color: #83a2af;
}

a:link
{
    color: white;
}

a:hover
{
    /* opacity: 0.5; */
    color: white;
}

a:visited
{
    color: white;;
}

a:active
{
    color: white;;
}

#Cat2p
{
    text-align: center;
}

#pfp
{
    border-radius: 50%;
    border: #83a2af 5px solid;
}

#code
{
    float: right;
    margin-left: 5%;
    margin-right: 5%;
    border: #83a2af 5px solid;
}
.about_me
{
    margin-left: 5%;
    font-size: x-large;
}

#Welcome_title
{
    text-align: center;
    font-size: 50px;
    /* text-decoration: underline; */
}

.fa 
{
    /* padding: 20px; */
    /* font-size:xx-large; */
    width: 10%;
    height: 10%;
    text-align: center;
    text-decoration: none;
}

#social
{
    position: fixed;
    top: 80%;
    bottom: 0%;
    right: 85%;
    left: 0;

    border-left: #83a2af solid 5px;
    border-top: #83a2af solid 5px;
    border-bottom: #83a2af solid 5px;
}

#alex
{
    position: fixed;
    color: #f5f5f5;
    top: 25%;
    bottom: 0%;
    right: 85%;
    left: 0;
}

#UR
{
    float: right;
    margin: 10px;
}

#ICPC
{
    float: left;
    margin: 10px;
}

#URlink:hover
{
    color:#83a2af;
}
#URlink:active
{
    color:#83a2af;   
}
#URlink:visited
{
    color:#83a2af;
}

#logosp
{
    font-size: xx-large;
    text-align: center;
}

.realtime
{

    width:  200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    position: relative;
    right: 0;
    left: 250px;
    bottom: 100px;
    opacity: 0.5;
    
}
.realtime:hover
{
    opacity: 1;
}

.UR
{
    height: auto;
    object-fit: cover;
    align-items: center;
    position: relative;
    right: 0;
    left: 180px;
    bottom: 100px;
    opacity: 0.5;

}

.UR:hover
{
    opacity: 1;
}

.ICPC
{

    width:  200px;
    height: 200px;
    object-fit: cover;
    position: relative;
    bottom: 100px;
    left: 100px;
    opacity: 0.5;
}

.ICPC:hover
{
    opacity: 1;
}

.Container
{
    display: grid;
    gap: 1em;
    grid-template-areas:
    "a1 a2" 
    "a3 a3";
    /* place-items: center; */
}

.Area1
{
    border: #83a2af inset 10px;
    grid-area: a1;
    opacity: 0.75;
    text-align: center;
}

.Area1:hover
{
    opacity: 1;
}

.Area2
{
    border: #83a2af inset 10px;
    grid-area: a2;
    opacity: 0.75;
    text-align: center;
}

.Area2:hover
{
    opacity: 1;
}

.Area3
{
    border: #83a2af inset 10px;
    grid-area: a3;
    opacity: 0.75;
    text-align: center;
}

.Area3:hover
{
    opacity: 1;
}


input[type=text], select, textarea 
{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
 
input[type=submit] 
{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container2 
{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#email:hover
{
    color: blue;
}
#email:active
{
    color: black;
}
#email:visited
{
    color: blue;
}
#email:link
{
    color: black;
}
#contact
{
    text-align: center;
}
#p301
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Container4-240
{
    text-align: center;
}